[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
langchain-groq = "*"
faiss-cpu = "*"
pdfplumber = "*"
python-docx = "*"
unstructured = "*"
werkzeug = "*"
python-dotenv = "*"

[dev-packages]
